# OS files
.DS_Store

# Data
data-raw/*
!data-raw/README.md
data/*
!data/README.md

# Resources
resources

# Explore
explore

# Outputs
outputs/**/*.rds
outputs/**/*.rda
outputs/**/*.RData
outputs/**/*.csv
outputs/**/*.html
outputs/**/*.pdf